#holder {
	border: 10px dashed #ccc;
	width: 300px;
	min-height: 300px;
	margin: 20px auto;
}
#holder.hover {
	border: 10px dashed #0c0;
}
a {
	display: block;
	float: left;
	margin: 1em;
	width: 150px;
	height: 150px;
	overflow: hidden;
}